{% extends 'base.html' %}
{% block title %}Meet the team{% endblock %}

{% block content %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.container:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.ubb-logo{
    text-align: center;
}


/* Three columns side by side */
.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.container {
  padding: 0 16px;
}

/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}



.row-professors{
    display:flex;
    flex-direction:row ;
}

</style>




<div class="container">

  <img src="../../static/images/prestige.JPG" alt="Avatar" class="image">

  <div class="overlay">
    <div class="text"><h6>Teaching is both an art and science.<br>
                        Teaching is conceptual and intellectual,
                        abstract and concrete, creative, and sequential.
                        It’s about people but framed through ideas.<br>
                        It’s about content, hearts, minds, the past, the future–whatever we can imagine,<br>
                        teaching and learning are both causes and effects.<br>
                        With that in mind, we’ve collected some of the most  famous  teachers,<br>
                        doing our best to include a wide range of perspectives, cultures, nationalities,<br>
                        races, spiritualities<br>
                        many of the things that make ‘us’ different,<br>
                        we tried to somehow use to gather all the top of the edge professors.<br>
                        In that way, some will be familiar, some will be about formal education,<br>
        and all of them will deliver the best!</h6>
    </div>
  </div>

</div>


<div class="ubb-logo">
        <img src="../../static/images/deliver-best.png">
    </div>


    <div class="row-professors">
  <div class="column">
    <div class="card">
      <img src="../../static/images/prof1.JPG" alt="Jane" style="width:100%">
      <div class="container">
        <h2>Ilea Veronica</h2>
        <p class="title">University Rector</p>
        <p>Our academic head of the  CIOT University,Ilea Veronica, <br>
            holds all the authority required to fulfill this role <br>
            in accordance with the University Constitution and General Statutes<br>
            as well as the Academic Statutes.<br>
            with a deep passion for research and inovation,<br>
            our rector, Ilea Veronica, will always deliver the best!<br>
        </p>
          <br>
        <p>ilea.veronica@gmail.com</p>
          <a href="http://math.ubbcluj.ro/~vdarzu/" class="btn-outline-info">
        <p><button class="button">Contact</button></p>
          </a>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="../../static/images/prof2.JPG" alt="Mike" style="width:100%">
      <div class="container">
        <h2>Camelia Chira</h2>
        <p class="title">PhD in Nanotechnology</p>
        <p>With an extraordinary passion for progress and evolution, <br>
           Camelia Chira is the best choice when it comes to learning<br>
          new things about science!<br>
          Having a PhD in Nanotechnology, Camelia Chira will always help you<br>
            to find new discoveries in Science, Nanotechnology and Biology!</p>

        <p>camelia.chira@gmail.com</p>
          <a href="http://www.cs.ubbcluj.ro/~cchira" class="btn-outline-info">
        <p><button class="button">Contact</button></p></a>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="../../static/images/prof3.JPG" alt="John" style="width:100%">
      <div class="container">
        <h2>Diosan Laura</h2>
        <p class="title">PhD in Astrophysics</p>
        <p>With a great passion for science and a great sense for progress,<br>
        Diosan Laura is the best choice when it comes to studying the great space!<br>
        Whith a PhD in Astrophysics, Diosan Laura will always help you<br>
        to find new ways when it comes to learning about<br>
        Space, Physics, Astrophysics, Glaxies and the universe!</p>
        <p>diosan.laura@example.com</p>
       <a href="http://www.cs.ubbcluj.ro/~lauras" class="btn-outline-info">
        <p><button class="button">Contact</button></p></a>
      </div>
    </div>
  </div>
    </div>


{% endblock %}